*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

.text-primary{
    color: #E55473;
}
.header{
    background: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    /* padding: 50px 100px 0px 240px; */
    /* padding-top: 50px;
    padding-right: 240px;
    padding-left: 240px; */
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px; 
    margin-top: 100px;
    margin-left: 0px;
    /* margin-right: 30px; */
    
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px; 
    margin-right: 100px;
    /*margin-right: 197px; */
    /* margin: 32px 171px 32px 240px; */
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 147px;
}

/* featured-flowers related styles */

.featured-flowers{
    background: #FFF;
    padding-top: 178px;
    padding-left: 400px;
    padding-right: 400px;
}


.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
/* main{
    margin: 0 auto;
} */

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.featured-flowers-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 32px;
    /* margin-left: 150px;
    margin-right: 150px; */

}
.flower-tree{
    padding: 110px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flower-titles{
    display: flex;
    justify-content: center;
    gap: 300px;
}
.flower-titles p{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
.hot-deal{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 130px;
    /* justify-content: center; */
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    background-image: url('../images/pngwing\ 8.png');
    background-position: right;
    background-repeat: no-repeat;
    /* justify-content: space-between; */
}
.hot-deal-title{
    padding-top: 200px;
    /* padding-left: 150px; */
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 0px;
    margin-left: -300px;
    margin-right: 200px;
    padding-right: 250px;
    margin-bottom: 32px;
}
.hot-deal .btn-primary{
    margin-left: 150px;
}

.instagram{
    background: #FFF;
    margin-top: 128px;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.instagram-img-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}